In [1]:
from pyspark.sql import SparkSession

In [40]:
spark = SparkSession.builder.appName("Flipkar_Dataset").getOrCreate()

In [55]:
fp_df = spark.read.csv('Flipkart.csv', header=True, inferSchema=True)
fp_df.show(5)

+-----+--------------------+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
|   id|               title|Rating|maincateg|platform|actprice1|norating1|noreviews1|star_5f|star_4f|star_3f|star_2f|star_1f|fulfilled1|
+-----+--------------------+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
| 2242|Casuals For Men  ...|   3.8|      Men|Flipkart|      999|    27928|      3543|  14238|   4295|   3457|   1962|   3976|         1|
|20532|Women Black Flats...|   3.9|    Women|Flipkart|      499|     3015|       404|   1458|    657|    397|    182|    321|         1|
|10648|Women Gold Wedges...|   3.9|    Women|Flipkart|      999|      449|        52|    229|     70|     71|     33|     46|         1|
|20677|Men's Height Incr...|   3.9|      Men|Flipkart|     2999|      290|        40|    141|     51|     49|     17|     32|         1|
|12593|Loafers For Men  ...|   3.9|      Men|Flipkart|      999|     2423|       326|   1265|    414|    293|    143|    308|         0|
+-----+--------------------+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
only showing top 5 rows

In [47]:
fp_df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- Rating: double (nullable = true)
 |-- maincateg: string (nullable = true)
 |-- platform: string (nullable = true)
 |-- actprice1: integer (nullable = true)
 |-- norating1: integer (nullable = true)
 |-- noreviews1: integer (nullable = true)
 |-- star_5f: integer (nullable = true)
 |-- star_4f: integer (nullable = true)
 |-- star_3f: integer (nullable = true)
 |-- star_2f: integer (nullable = true)
 |-- star_1f: integer (nullable = true)
 |-- fulfilled1: integer (nullable = true)

In [62]:
from pyspark.sql.functions import col, isnan, isnull, when, count, expr

In [71]:
from pyspark.sql.functions import *

In [57]:
## handling the missing data

fp_df_null = fp_df.select([count(when(col(c).isNull(), c)).alias(c) for c in fp_df.columns])
fp_df_null.show()

+---+-----+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
| id|title|Rating|maincateg|platform|actprice1|norating1|noreviews1|star_5f|star_4f|star_3f|star_2f|star_1f|fulfilled1|
+---+-----+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
|  0|    0|   203|       67|       0|        0|        0|         0|     68|      0|      0|      0|    186|         0|
+---+-----+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+

In [50]:
fp_df_null = fp_df.select([count(when(col(c).isNull(), c)).alias(c) for c in fp_df.columns])
fp_df_null.show()

+---+-----+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
| id|title|Rating|maincateg|platform|actprice1|norating1|noreviews1|star_5f|star_4f|star_3f|star_2f|star_1f|fulfilled1|
+---+-----+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
|  0|    0|   203|       67|       0|        0|        0|         0|     68|      0|      0|      0|    186|         0|
+---+-----+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+

In [60]:
##Drop null value
fp_df_drop = fp_df.na.drop()

##fill missing value
fp_df_fill = fp_df.fillna({
                    'Rating' : 0
})
fp_df_fill.show()

+-----+--------------------+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
|   id|               title|Rating|maincateg|platform|actprice1|norating1|noreviews1|star_5f|star_4f|star_3f|star_2f|star_1f|fulfilled1|
+-----+--------------------+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
| 2242|Casuals For Men  ...|   3.8|      Men|Flipkart|      999|    27928|      3543|  14238|   4295|   3457|   1962|   3976|         1|
|20532|Women Black Flats...|   3.9|    Women|Flipkart|      499|     3015|       404|   1458|    657|    397|    182|    321|         1|
|10648|Women Gold Wedges...|   3.9|    Women|Flipkart|      999|      449|        52|    229|     70|     71|     33|     46|         1|
|20677|Men's Height Incr...|   3.9|      Men|Flipkart|     2999|      290|        40|    141|     51|     49|     17|     32|         1|
|12593|Loafers For Men  ...|   3.9|      Men|Flipkart|      999|     2423|       326|   1265|    414|    293|    143|    308|         0|
|11159|Canvas Shoes For ...|   3.9|      Men|Flipkart|      999|      541|        72|    281|    104|     69|     17|     70|         0|
|10680|Combo Pack Of 2 C...|   3.9|      Men|Flipkart|     2400|      824|       105|    386|    199|    106|     61|     72|         1|
| 6433|ARYA - DIFFERENT ...|   4.2|    Women|Flipkart|     4299|      166|        24|     94|     39|     12|      6|     15|         1|
| 2794|Latest Collection...|   3.9|    Women|Flipkart|      499|     1816|       218|    899|    360|    239|    113|    208|         0|
|11579|MOCCASSIN Slip On...|   3.8|      Men|Flipkart|     2299|     3066|       392|   1304|    803|    462|    189|    308|         1|
|13859|Women Black Wedge...|   4.2|    Women|Flipkart|      279|     3048|       487|   1746|    679|    348|    114|    161|         1|
|12260|Long OfficeWear C...|   3.9|      Men|Flipkart|      999|    14247|      2102|   6921|   2924|   1976|    882|   1544|         1|
|18254|Women Black Heels...|   3.7|    Women|Flipkart|      999|      508|        80|    218|     88|     90|     40|     72|         0|
|19453|Denill Ankle Leng...|   4.1|    Women|Flipkart|      999|     6806|       961|   3646|   1508|    810|    335|    510|         1|
| 8121|Women Grey Heels ...|   4.2|    Women|Flipkart|     1990|       16|         1|     10|      2|      1|      3|      0|         1|
| 9791|Pink Perfect Styl...|   4.2|    Women|Flipkart|      999|      509|        73|    288|    106|     61|     17|     37|         1|
| 7402|Concave 2 Wn s ID...|   4.3|    Women|Flipkart|     3999|      367|        47|    206|    108|     30|      6|     18|         1|
| 3205|     SFG-23 Slippers|   4.1|      Men|Flipkart|      319|    12936|      1598|   7030|   2850|   1453|    587|   1016|         1|
|14489|Dark Brown Leathe...|   3.9|      Men|Flipkart|      599|      374|        55|    182|     75|     58|     20|     39|         1|
|10607|Women Grey Sports...|   4.7|    Women|Flipkart|     1199|        6|         4|      4|      2|      0|      0|      0|         1|
+-----+--------------------+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
only showing top 20 rows

In [68]:
fp_df_fill.filter(fp_df_fill.Rating == 0).show()

+-----+--------------------+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
|   id|               title|Rating|maincateg|platform|actprice1|norating1|noreviews1|star_5f|star_4f|star_3f|star_2f|star_1f|fulfilled1|
+-----+--------------------+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
|17580|Women Beige Heels...|   0.0|    Women|Flipkart|      999|      473|        68|   NULL|    119|     45|     16|   NULL|         1|
|11588|Royal Jutis For m...|   0.0|     NULL|Flipkart|      899|       41|         7|     22|      9|      3|      1|      6|         0|
|15449|          Flip Flops|   0.0|     NULL|Flipkart|      499|     3073|       401|   1248|    517|    510|    274|   NULL|         1|
|12342|Men Black, Blue S...|   0.0|      Men|Flipkart|     2499|       52|         5|   NULL|     13|      6|      4|   NULL|         1|
| 9065|Sneakers For Men ...|   0.0|      Men|Flipkart|      999|     2465|       274|   1408|    407|    258|    137|   NULL|         0|
|18332|      Wedge Slippers|   0.0|    Women|Flipkart|      249|      412|        60|    211|    118|     41|     19|   NULL|         1|
|20713|              Slides|   0.0|    Women|Flipkart|      599|      692|        74|    341|    138|     99|     30|     84|         0|
| 5574|Women Red Heels S...|   0.0|     NULL|Flipkart|      699|     7128|      1203|   3846|   1358|    797|    333|   NULL|         0|
|20276|Quest 2 Running S...|   0.0|     NULL|Flipkart|     5995|      325|        58|    205|     62|     29|      9|   NULL|         1|
|15115|WILLY-2 Bellies F...|   0.0|     NULL|Flipkart|      499|       44|         3|     11|     14|      4|      6|   NULL|         1|
|19296|Men Multicolor Sp...|   0.0|      Men|Flipkart|      699|    16865|      2400|   9011|   4413|   1861|    618|   NULL|         1|
| 7654|              Slides|   0.0|     NULL|Flipkart|      999|     1314|       155|    660|    228|    172|     89|   NULL|         1|
|12240|Wink Duo GU2 IDP ...|   0.0|     NULL|Flipkart|     1499|     1034|       102|   NULL|    250|     99|     50|     99|         1|
| 2022|Sports Mesh Runni...|   0.0|     NULL|Flipkart|      899|      937|       130|    448|    257|    101|     42|   NULL|         1|
|12857|Black Jalsa Nagra...|   0.0|     NULL|Flipkart|      499|     1068|       157|    515|    228|    146|     71|    108|         1|
|10810|Latest Stylish De...|   0.0|    Women|Flipkart|      999|     1260|       214|    677|    346|    113|     48|   NULL|         1|
|19585|Women Grey Flats ...|   0.0|    Women|Flipkart|      999|     1877|       252|   NULL|    451|    243|    125|   NULL|         1|
| 8170|Party Wear For Wo...|   0.0|    Women|Flipkart|     1299|       26|         4|   NULL|      5|      4|      2|   NULL|         0|
|  430|Sneakers For Wome...|   0.0|    Women|Flipkart|      928|     6586|       998|   1123|   1863|   1260|    253|    149|         1|
|18087|Men White Casual ...|   0.0|      Men|Flipkart|      999|     3657|       482|   1998|    729|    450|    205|   NULL|         0|
+-----+--------------------+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
only showing top 20 rows

In [69]:
high_rated_product = fp_df_fill.filter('Rating > 4')
high_rated_product.show()

+-----+--------------------+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
|   id|               title|Rating|maincateg|platform|actprice1|norating1|noreviews1|star_5f|star_4f|star_3f|star_2f|star_1f|fulfilled1|
+-----+--------------------+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
| 6433|ARYA - DIFFERENT ...|   4.2|    Women|Flipkart|     4299|      166|        24|     94|     39|     12|      6|     15|         1|
|13859|Women Black Wedge...|   4.2|    Women|Flipkart|      279|     3048|       487|   1746|    679|    348|    114|    161|         1|
|19453|Denill Ankle Leng...|   4.1|    Women|Flipkart|      999|     6806|       961|   3646|   1508|    810|    335|    510|         1|
| 8121|Women Grey Heels ...|   4.2|    Women|Flipkart|     1990|       16|         1|     10|      2|      1|      3|      0|         1|
| 9791|Pink Perfect Styl...|   4.2|    Women|Flipkart|      999|      509|        73|    288|    106|     61|     17|     37|         1|
| 7402|Concave 2 Wn s ID...|   4.3|    Women|Flipkart|     3999|      367|        47|    206|    108|     30|      6|     18|         1|
| 3205|     SFG-23 Slippers|   4.1|      Men|Flipkart|      319|    12936|      1598|   7030|   2850|   1453|    587|   1016|         1|
|10607|Women Grey Sports...|   4.7|    Women|Flipkart|     1199|        6|         4|      4|      2|      0|      0|      0|         1|
| 3659|Women Grey, Orang...|   4.3|    Women|Flipkart|      799|      212|        41|    123|     59|     12|      9|      9|         1|
| 7625|White casual, gym...|   4.2|      Men|Flipkart|      999|     2430|       381|   1472|    397|    251|    105|    205|         0|
|12862|Suede Heart Snake...|   4.4|    Women|Flipkart|     6999|       79|        11|     59|      8|      4|      2|      6|         1|
| 6889|Pacer Next Sneake...|   4.3|    Women|Flipkart|     5499|      209|        36|    124|     53|     20|      4|      8|         1|
|17791|Synthetic Leather...|   4.2|    Women|Flipkart|     1399|     1256|       182|    791|    212|    114|     43|     96|         1|
| 8920|Monk Strap For Me...|   4.2|      Men|Flipkart|     4595|      498|        58|    281|    116|     44|     23|     34|         1|
|15762|Running Shoes For...|   4.1|      Men|Flipkart|      999|    57372|      8254|  32715|  10686|   6362|   2806|   4803|         0|
| 9762|    Men Brown Sandal|   4.6|      Men|Flipkart|      349|       20|         2|     14|      4|      2|      0|      0|         1|
|15247|SM-484 Casuals Fo...|   4.2|      Men|Flipkart|     1399|     2958|       436|   1685|    736|    259|    107|    171|         0|
| 9075|Women Black Heels...|   4.1|    Women|Flipkart|      999|       59|         7|     34|      7|     10|      4|      4|         0|
| 7800|Women Green Flats...|   4.1|    Women|Flipkart|      999|      607|        63|    305|    174|     70|     27|     31|         1|
|20247|Women Black Heels...|   4.1|    Women|Flipkart|      999|     1052|       182|    568|    248|    121|     45|     70|         1|
+-----+--------------------+------+---------+--------+---------+---------+----------+-------+-------+-------+-------+-------+----------+
only showing top 20 rows

In [70]:
## group by and categeory wise avg rating

avg_rating = fp_df_drop.groupBy('maincateg').avg('Rating')
avg_rating.show()

+---------+-----------------+
|maincateg|      avg(Rating)|
+---------+-----------------+
|      Men|3.967410281280314|
|    Women|4.041507503410653|
+---------+-----------------+

In [72]:
## total rating by categeory wise

avg_rating_total = fp_df_drop.groupBy('maincateg').agg(sum('Rating'))
avg_rating_total.show()

+---------+------------------+
|maincateg|       sum(Rating)|
+---------+------------------+
|      Men|8180.8000000000075|
|    Women|11849.700000000035|
+---------+------------------+

In [75]:
output_table = 'Flipkart_data_analysis'
fp_df_drop.write.mode('overwrite').saveAsTable(output_table)

In [77]:
%sqrt
select * from Flipkart_data_analysis limit 20;

SyntaxError: invalid syntax (2898414346.py, line 2)